<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ site.baseurl }}/about/">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ site.baseurl }}/blog/">Blogs</a></li>
  <li class="{% if page.url contains '/books/' %} active {% endif %}"><a href="{{ site.baseurl }}/books/">Books</a></li>
  <li class="{% if page.url contains '/blankets/' %} active {% endif %}"><a href="{{ site.baseurl }}/blankets/">Blankets</a></li>
  <li class="{% if page.url contains '/scarves/' %} active {% endif %}"><a href="{{ site.baseurl }}/scarves/">Scarves</a></li>
  <li class="{% if page.url contains '/stuffies/' %} active {% endif %}"><a href="{{ site.baseurl }}/stuffies/">Stuffies</a></li>
  <li class="{% if page.url contains '/baskets/' %} active {% endif %}"><a href="{{ site.baseurl }}/baskets/">Baskets</a></li>
  <li class="{% if page.url contains '/bags/' %} active {% endif %}"><a href="{{ site.baseurl }}/bags/">Bags/Purses</a></li>
</ul>

<ul class="icons">
  <!--<li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>-->
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <!--<li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>-->
  <!--<li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>-->
</ul>
